<div
  class="card mb-4 m-auto"
  style="width: 92%"
  [class.task-priority-1]="Task.Priority == 1"
  [class.task-priority-2]="Task.Priority == 2"
  [class.task-priority-3]="Task.Priority == 3"
  [class.task-priority-4]="Task.Priority == 4"
  [class.task-priority-5]="Task.Priority == 5"
>
  <div class="card-header" style="text-align: center">
    <span style="font-size: 1rem">{{ Task.Title }}</span>
    <button
      (click)="TaskDeleteClick()"
      class="btn"
      style="
        color: white;
        position: absolute;
        right: -2px;
        top: -2px;
        font-size: 19px;
      "
    >
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
  <div class="card-body p-4" style="font-size: 0.9rem">
    <div
      style="background-color: white; border-radius: 0.25rem"
      class="col m-0 p-2"
    >
      <div class="row m-0 p-0">
        <div class="col m-0 p-0">
          <span>Responsável:</span>
        </div>
        <div class="col m-0 p-0">
          <span>{{ Task.Responsable }}</span>
        </div>
      </div>
      <div class="row m-0 my-2 p-0">
        <div class="col m-0 p-0">
          <span>Prioridade:</span>
        </div>
        <div class="col m-0 p-0">
          <span>
            <select
              class="form-select"
              style="padding: 0.3rem 2rem 0.2rem 0.4rem"
              value="{{ Task.Priority }}"
              (change)="ChangePriority($event)"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </span>
        </div>
      </div>
      <div class="row m-0 p-0">
        <div class="col m-0 p-0">
          <span>Status:</span>
        </div>
        <div class="col m-0 p-0">
          <span>
            <select
              class="form-select"
              value="{{ Task.Status }}"
              (change)="ChangeStatus($event)"
            >
              <option value="0">Pendente</option>
              <option value="1">Ativa</option>
              <option value="2">Concluída</option>
            </select>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
