.task-priority-1{
    background: #ffdfdf !important;
}
.task-priority-2{
    background: #ffb6b6 !important;
}
.task-priority-3{
    background: #ff9a9a !important;
}
.task-priority-4{
    background: #ff7d7d !important;
}
.task-priority-5{
    background: #ff4f4f !important;
}