<toaster-container [toasterconfig]="ToastDefaultConfig"></toaster-container>
<div
  id="page"
  style="background: #e7e7e7; position: fixed; overflow: auto"
  class="w-100 h-100"
>
  <div
    id="page-container"
    class="container-lg p-0 mt-2"
    style="
      background: #476277;
      border: solid 1px #a5a5a5;
      border-radius: 0.25rem;
      min-height: calc(100% - 1rem);
    "
  >
    <nav
      class="navbar p-2 no-select"
      style="
        background-color: #002542;
        color: white;
        border-radius: 0.25rem 0.25rem 0 0;
        border-bottom: #a5a5a5 solid 1px;
      "
    >
      <span class="m-auto"
        ><i
          class="fas fa-clipboard-list"
          style="margin-right: 1rem; font-size: 3rem"
        ></i
        ><span style="font-size: 3rem; font-family: JicamaDays"
          >Task Board</span
        ></span
      >
    </nav>
    <app-task-list></app-task-list>
  </div>
</div>
