<div id="page" style="background: #e7e7e7; position: fixed" class="w-100 h-100">
  <div
    id="page-container"
    class="container-lg p-0 mt-2"
    style="background: white; border: solid 1px #a5a5a5; border-radius: 0.25rem"
  >
    <nav
      class="navbar p-2"
      style="
        background-color: #2196f3;
        color: white;
        border-radius: 0.25rem 0.25rem 0 0;
        border-bottom: #a5a5a5 solid 1px;
      "
    >
      <span class="m-auto" style="font-size: 2rem">Task Board</span>
    </nav>
    <div class="row w-100 mt-0 p-2 m-0" style="background: #e7e7e773">
      <div
        class="col-md p-0"
        style="background: #019587; border-radius: 0.25rem"
      >
        <div
          class="row py-2 w-100 m-0 mb-2"
          style="
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
            border-bottom: solid 1px #ffffff;
            color: white;
          "
        >
          <span>Pendentes</span>
        </div>
        <div class="row w-100 m-0">
          <div class="col w-100 px-2">
            <div class="row w-100 m-0 pb-2">
              <span style="text-align: end"
                ><button
                  class="btn btn-success px-2 py-1"
                  style="background: #0b5e38"
                >
                  Nova
                </button></span
              >
            </div>

            <div class="card mb-2">
              <div class="card-header" style="text-align: center">
                <span style="font-size: 1.1rem">Tarefa 1</span
                ><span
                  style="
                    position: absolute;
                    right: 1rem;
                    font-weight: bold;
                    cursor: pointer;
                  "
                  >X</span
                >
              </div>
              <div class="card-body" style="font-size: 0.9rem">
                <span class="card-text"
                  >With supporting text below as a natural lead-in to additional
                  content.</span
                >
                <p
                  class="m-0 mt-2 p-2"
                  style="background: #ebebeb; border-radius: 0.25rem"
                >
                  Responsável: Bruno
                </p>
                <p
                  class="m-0 mt-2 p-2"
                  style="background: #ebebeb; border-radius: 0.25rem"
                >
                  Prioridade: 2/5
                </p>
                <p
                  class="m-0 mt-2 p-2"
                  style="background: #ebebeb; border-radius: 0.25rem"
                >
                  Criado em: 17/11/2022
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md p-0 mx-2"
        style="background: #ea1e65; border-radius: 0.25rem"
      >
        <div
          class="row py-2 w-100 m-0 mb-2"
          style="
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
            border-bottom: solid 1px #ffffff;
            color: white;
          "
        >
          <span>Ativas</span>
        </div>
        <div class="row w-100 m-0">
          <div class="col w-100 px-2"></div>
        </div>
      </div>
      <div
        class="col-md p-0"
        style="background: #9d27b1; border-radius: 0.25rem; color: white"
      >
        <div
          class="row py-2 w-100 m-0 mb-2"
          style="
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
            border-bottom: solid 1px #ffffff;
          "
        >
          <span>Concluídas</span>
        </div>
        <div class="row w-100 m-0">
          <div class="col w-100 px-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-task-list></app-task-list>
